[submodule "piper_lerobot"]
	path = piper_lerobot
	url = https://github.com/jolchmo/piper_lerobot
[submodule "lerobot"]
	path = lerobot
	url = https://github.com/huggingface/lerobot
[submodule "piper_sdk"]
	path = piper_sdk
	url = https://github.com/agilexrobotics/piper_sdk
